@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 640px) {
  .left-timeline {
    justify-content: center;
    flex-direction: column;
  }
  .right-timeline {
    justify-content: center;
    flex-direction: column;
  }
  .left-timeline > div:first-child,
  .right-timeline > div:first-child {
    display: none;
  }
}
